<p>master works!</p>
<div class="row">
    <div class="col-12">

        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-primary">Roles</button>
            <button type="button" class="btn btn-primary">Designation</button>
           
          </div>
        
    </div>

    <div class="row">
        <div class="col-12">
    
            <app-roles></app-roles>
            <app-designation></app-designation>
              </div>
            
        </div>
</div>
